@model CashLoanTool.ViewModels.AdmViewModel
@{
    ViewData["Title"] = "Adm";
}
@*inject model*@
<script id="inject">
    window.model = @Json.Serialize(Model);
    //hide injection
    var element = document.getElementById("inject");
    element.parentNode.removeChild(element);
</script>
<div class="text-center">
    <div id="app">
    </div>
</div>
<script asp-src-include="~/dist/Adm_*.js"></script>