@using CashLoanTool.Helper;
@model CashLoanTool.ViewModels.RequestListingModel
@{
    ViewData["Title"] = "Main page";
}

@*inject stuff...*@
<script>
    window.model = @Json.Serialize(Model);
    window.Cities = @Json.Serialize(ViewData[nameof(CityList.Cities)])
</script>
<div class="text-center">
    <div id="app">
        <router-view class="view"></router-view>
    </div>
</div>
<script src="~/dist/Home.min.js"></script>